
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
credentials/*
.DS_Store
example.tf
terraform.tfplan
terraform.tfstate
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
/AZ-700/site/*
/scripts/azcopy.sh
/scripts/notes.txt
terraform/.terraform.lock.hcl
terraform/.terraform.lock.hcl
Frank/.terraform.lock.hcl
terraform/.terraform.lock.hcl
terraform/.terraform.lock.hcl
